h1 {
    margin-bottom: 30px;
}

table th,
table td {
    font-size: 14px;
    text-align: center;
}

table td.data {
    text-align: center;
    font-size: 18px;
}

table span {
    font-size: 16px;
}

table td {
    line-height: 24px !important;
}

p {
    color: #999;
}

table th {
    color: #999;
    font-weight: normal;
    font-size: 12px;
}